execute store success score off {objective} run execute if block {position} minecraft:lever[{geometry},powered=true] run setblock {position} minecraft:lever[{geometry},powered=false]
execute store result score end {objective} run time query gametime
scoreboard players set done {objective} 1
